@media only screen and (min-width: 32.4em) { 
    #profile_photo {
        float: right;
    }
    .grid_01{
        grid-template-columns: repeat(2, 1fr);
    }
    
    .section_03 {
        text-align: center;
        grid-column: 1 / 3;
    }

}