body {
    max-width: 960px;
    margin: 0 auto;
    background-color: #e5e5e5;
}

header {
    background-color: #264653;
    text-align: center;

}

a:hover {
    color: #bbc903;
}

a:visited {
    color: blueviolet;
}

h1 {
    font-family: 'Unna', serif;
    background-color: #264653;
    color: white;
    border-radius: 10px;
    padding-left: 1em;
    
}

h2 {
    font-family: 'Quicksand', sans-serif;
    padding: 10px;
}

a {
    padding: 10px;
}

h3 {
    font-family: 'Quicksand', sans-serif;
    padding: 10px;
}

p {
    font-family: 'Libre Baskerville', serif;
    padding: 10px;
}

#profile_photo {
    max-width: 200px;
    height: auto;
    margin-top: 20px;
    margin-right: 20px;
}

.grid_01 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}    

.section_01 {
    background-color: #264653;
    border-radius: 30px 30px 0px 0px;
    border: solid 1px;
    
}

.article {
    background-color: #6c757d;
    margin-top: 0;
    border-radius: 30px 30px 0px 0px;
    border: solid 1px;
} 

.section_02 {
    background-color: #264653;
    border-radius: 30px 30px 0px 0px;
    border: solid 1px;
}

.section_03 {
    background-color: #264653;
    border-radius: 30px 30px 0px 0px;
    border: solid 1px;
}

nav {
    list-style-type: none;
    text-align: center;
}

nav li {
    display: inline-block;
}

img {
    align-content: center;
    max-width: 200px;
    height: auto;
    margin-top: 20px;
    margin-right: 20px;
}

#lastUpdate {
    color: #e9c46a;
}

footer {
    margin: 0 auto;
    background-color: #264653;
    color: white;
    border-radius: 10px;
}